build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: >
    #/bin/sh

    <<'###'

    Sample Deploy Instructions


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###



    HELM_OPTS=""

    helm upgrade newdm-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-07-21T05:41:26.572Z
