build:
  type: text
  content: |-
    #!/bin/sh
    docker build -f ballot/Dockerfile -t ballot:$ROOST_ENV_ID .
    cd ./ && make
    docker build -f ballot/Dockerfile -t ballot:$ROOST_ENV_ID .
deploy:
  type: text
  content: |-
    #!/bin/sh
    helm install helm-vote -n $ROOST_NAMESPACE --generate-name
    kubectl apply -f ballot/ballot.yaml
    kubectl apply -f ballot/ingress.yaml
test:
  - name: ""
    configType: artillery
    configPath: ""
Last Updated By: ""
Last Updated On: 2022-07-07T04:37:24.064Z
