build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: >
    #/bin/sh



    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm upgrade divyeshtest-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-08-01T04:44:16.245Z
