build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/afsalaazeez/ballot
    # make all
    # docker build
    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ballot

    cdcdcd
deploy:
  type: text
  content: >-
    #/bin/sh

    cd $ROOST_WORK_DIR/git/afsalaazeez/ballot

    # kubectl apply -f <file>.yaml

    # helm install <helm-folder> -n <ns>

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    echo "helm install api-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}"

    helm upgrade ui-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
Last Updated By: ""
Last Updated On: 2022-07-06T03:48:26.064Z
