build:
  type: text
  content: |-
    #!/bin/sh


    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ballot

    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Harish ZB
lastUpdatedOn: 2022-08-19T13:14:04.628Z
