build:
  type: text
  content: |
    #!/bin/sh


    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ballot
deploy:
  type: text
  content: >-
    #/bin/sh


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    echo "helm install api-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}"


    helm upgrade ui-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
lastUpdatedBy: Sudhir Jangir
lastUpdatedOn: 2022-07-22T02:36:03.709Z
