build:
  type: buildpack
  content:
    image: ballot
    tag: $GIT_COMMIT_ID
    path: ballot
deploy:
  type: None
  content: ''
test:
  - name: ballot
    configType: artillery
    configPath: ballot/ballot.yaml
uninstall:
  type: None
  content: ''
lastUpdatedBy: harish
lastUpdatedOn: 2022-11-21T14:29:09.690Z
