build:
  type: External_Build
  content: 22e43938e81cf724c9c9aeab842dc0689af65c4a
deploy:
  type: text
  content: ''
test:
  - name: ballot
    configType: artillery
    configPath: roost-io/ballot/
uninstall:
  type: text
  content: ''
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-08T14:50:16.719Z
