build:
  type: thirdParty
  content: eaas
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test:
  - name: ballot
    configType: postman
    configPath: ballot/test/ballotpostman.json
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-09-16T04:31:38.270Z
