build:
  type: text
  content: |-
    #!/bin/sh
    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"
    helm install <helm-folder> -n <ns> $HELM_OPTS
    kubectl apply -f <file>.yaml
    ###
test:
  - name: ballot
    configType: artillery
    configPath: roost-io/ballot/
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: harish
lastUpdatedOn: 2022-10-05T13:00:40.410Z
