build:
  type: text
  content: |-
    #!/bin/sh
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: ''
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: ''
lastUpdatedBy: harish
lastUpdatedOn: 2022-09-22T07:56:45.088Z
