build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    helm upgrade try11-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: harish
lastUpdatedOn: 2022-10-11T12:49:46.551Z
