build:
  type: buildpack
  content:
    image: ballot
    tag: latest
    path: ballot
deploy:
  type: text
  content: |
    #/bin/sh
    cd $ROOST_WORK_DIR/git/roost-io/ballot

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},registry=zbio,namespace=${ROOST_NAMESPACE}"

    helm upgrade myvote-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Harish ZBIO
lastUpdatedOn: 2022-10-17T12:03:16.953Z
