app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    kubectl expose deployment ballot -n ${ROOST_NAMESPACE} --type=NodePort --name=ballotnphttps

    ###

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2022-10-20T04:00:34.474Z
