build:
  type: buildpack
  content:
    image: ballot
    tag: $GIT_COMMIT_ID
    path: ballot
deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${GIT_COMMIT_ID},namespace=${ROOST_NAMESPACE}"


    helm upgrade zzzz-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ballot
    configType: artillery
    configPath: ballot/ballot.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: harish
lastUpdatedOn: 2022-10-13T09:42:25.584Z
