build:
  type: External_Build
  content: $GIT_COMMIT_ID
deploy:
  type: text
  content: ''
test:
  - name: ballot
    configType: custom
    customType: file
    configPath: ballot/test/ballotCurl.json
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: ''
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-11T05:52:07.668Z
