build:
  type: text
  content: |-
    #!/bin/sh


    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |-
    #/bin/sh


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},tag=${ROOST_NAMESPACE}"

    helm upgrade demo-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS

    kubectl delete -n $ROOST_NAMESPACE svc/voter
    kubectl delete -n $ROOST_NAMESPACE svc/ec
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: harish
lastUpdatedOn: 2023-03-09T06:03:02.927Z
