build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=zbio"

    helm upgrade demo-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ballot
    configType: artillery
    configPath: roost-io/ballot/
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Harish ZB
lastUpdatedOn: 2022-12-17T15:48:35.437Z
