build:
  type: External_Build
  content: $GIT_COMMIT_ID
deploy:
  type: text
  content: ''
test:
  - name: ballot1
    configType: artillery
    configPath: roost-io/ballot/
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: ''
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-11T11:29:11.838Z
