build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},tag=${ROOST_NAMESPACE}"


    helm upgrade demo-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Mayank Gaikwad
lastUpdatedOn: 2023-03-03T05:29:01.949Z
