build:
  type: buildpack
  content:
    image: ballot
    tag: $GIT_COMMIT_ID
    path: ballot
deploy:
  type: path
  content: ''
test:
  - name: ballot
    configType: artillery
    configPath: ballot/ballot.yaml
uninstall:
  type: path
  content: ''
lastUpdatedBy: harish
lastUpdatedOn: 2022-10-14T06:10:19.256Z
